html{
    background-color: #ffbb40;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
}

/*MODIFICAMOS EL HEADER LOS H1 A NUESTRO GUSTO*/

header{
    display: block;
    position: absolute;
    color: white;
    width: 100%;
    top: 0%;
    background-color: rgb(32, 32, 31);
}

h1{
    text-align: center;
    top: 0%;
}

nav#menu{
    display: flex;
    justify-content: center;
    width: fit-content;
}

img#logo{
    float: left;
    width: 12%;
    height: 12%;
    top: 0px;
    position: relative;
    left: 20%;
}
/*LOS ENLACES CON EL ID CAMBIA, SE MOSTRARÁN CON EL FONDO AZUL*/
a.cambia {
    background-color: powderblue;
    transition: background-color 1s; /*AQUI PREPARO AL ENLACE PARA RECIBIR UNA ORDEN DE TRANSICION QUE LE DICTARÉ MAS ADELANTE*/
}
/*AQUI PONGO UNA REGLA QUE, EN CONJUNCION CON LA ANTERIOR, DICE QUE CUANDO PASE EL RATON POR ENCIMA, CAMBIE EL COLOR DE FONDO A DORADO*/
a:hover {
    background-color: gold;
}
/*EMPEZAMOS A COLOCAR LOS ELEMENTOS DE LA BARRA DEL DESPLEGABLE*/
/*USAMOS ETIQUETA COMPUESTA PARA IR A LA UNORDERED LIST DENTRO DE LA ID MENU Y LE PONEMOS UNAS CARACTERISTICAS BASICAS*/
nav#menu ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 400px;
    z-index: 1;
}
/*AQUI NOS REFERIMOS A TODOS LOS ELEMENTOS LI DE LA UNORDERED LIST EN ESTE CASO QUIERO QUE SEAN CON FONDO NEGRO*/
nav#menu ul li{
    background-color: black;
}
/*AHORA ME REFIERO A LOS ENLACES DEL MENU PRINCIPAL. ASI SE NOS QUEDARIAN CON LA LETRA DE COLOR BLANCO, SEPARADOS Y SE MOSTRARAN COMO UN BLOQUE*/
nav#menu ul a{
    display: block;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}
/*CON ESTOS ELEMENTOS SE NOS QUEDA ORIENTADO HORIZONTALMENTE EN LA POSICION QUE QUEREMOS*/
nav#menu ul li{
    position: relative;
    float: left;
    margin: 0%;
    padding: 0%;
}
/*AHORA VAMOS A ESCONDER LOS SUBMENUS DENTRO DEL MENU PRINCIPAL*/
nav#menu ul ul {
    display: none;
    position: absolute;
    left: 0%;
    padding: 0%;
}
/*AHORA NOS REFERIMOS A LOS ITEMS DE LOS DESPLEGABLES*/
nav#menu ul ul li{
    float: none;
    width: 150px;
}
/*ENLACES DE LOS ITEMS DEL MENU DESPLEGABLE*/
nav#menu ul ul a{
    line-height: 120%;
    padding: 10px;
}
/*AHORA VAMOS A HACER QUE LOS SUBMENUS SE MUESTREN AL PASAR POR EL*/
nav#menu ul li:hover > ul {
    display: block;
}
/*A PARTIR DE AQUI VAMOS A PONERLE COLORES DISTINTOS A CADA DESPLEGABLE Y EL COLOR HACIA EL QUE TRANSICIONA*/
a.gray {
    background-color: black;
    transition: background-color 1s;
}
a.gray:hover {
    background-color: #cf3401;
}
a.red {
    background-color: black;
    transition: background-color 1s;
}
a.red:hover {
    background-color: #ff880c;
}
a.blue {
    background-color: black;
    transition: background-color 1s;
}
a.blue:hover {
    background-color: #f2854b;
}
a.gold {
    background-color: black;
    transition: background-color 1s;
}
a.gold:hover {
    background-color: #526f12;
}
/*AQUI ACABA EL INDICE DESPLEGABLE*/

div#login{
    background-color: gray;
    border: 10px;
    border-color: gray;
    border-style: solid;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: justify;
    left: 45%;
    top: 50%;
    border-radius: 10%;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0%;
    display: relative;
    align-items: center;
    justify-content: space-between;
    height: 3%;
}