/*VALORES ABSOLUTOS SOBRE LOS HTML*/
html{
    background-color: #ffbb40;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
}

header{
    display: block;
    position: absolute;
    color: white;
    width: 100%;
    top: 0%;
    background-color: rgb(32, 32, 31);
}

h1{
    text-align: center;
    top: 0%;
}

nav#menu{
    display: flex;
    justify-content: center;
    width: fit-content;
}

img#logo{
    float: left;
    width: 12%;
    height: 12%;
    top: 0px;
    position: relative;
    left: 20%;
}

/*MENU DESPLEGABLE*/
a.cambia {
    background-color: powderblue;
    transition: background-color 1s; 
}

a:hover {
    background-color: gold;
}

nav#menu ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 400px;
    z-index: 1;
}

nav#menu ul li{
    background-color: black;
}

nav#menu ul a{
    display: block;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

nav#menu ul li{
    position: relative;
    float: left;
    margin: 0%;
    padding: 0%;
}

nav#menu ul ul {
    display: none;
    position: absolute;
    left: 0%;
    padding: 0%;
}

nav#menu ul ul li{
    float: none;
    width: 150px;
}

nav#menu ul ul a{
    line-height: 120%;
    padding: 10px;
}

nav#menu ul li:hover > ul {
    display: block;
}

a.gray {
    background-color: black;
    transition: background-color 1s;
}
a.gray:hover {
    background-color: #cf3401;
}
a.red {
    background-color: black;
    transition: background-color 1s;
}
a.red:hover {
    background-color: #ff880c;
}
a.blue {
    background-color: black;
    transition: background-color 1s;
}
a.blue:hover {
    background-color: #f2854b;
}
a.gold {
    background-color: black;
    transition: background-color 1s;
}
a.gold:hover {
    background-color: #526f12;
}
/*AQUI ACABA EL INDICE DESPLEGABLE*/


/*FOOTER*/
footer{
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0%;
    display: relative;
    align-items: center;
    justify-content: space-between;
    height: 3%;
}